<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li><%= link_to "Todo List", todos_path, class: "nav-status" %></li>
      <li><%= link_to "New Todo", new_todo_path, class: "nav-status" %></li>
      <li role="presentation"><a href="#" class="nav-status">Contact</a></li>
    </ul>
  </nav>
  <h3 class="text-muted">
    <%= link_to "Todo App", root_path, class: "navbar-brand", id: "logo" %>
  </h3>
</div>